@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill');
body {

	overflow: hidden;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

h1 {
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 1;
	color: #d7c822;
	font-family: Courier;
	font-size: 45px;
	-webkit-transform: rotate(-30deg);
	text-align: center;
}

h2 {
	top: -50px;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #d88d10;
	font-size: 75px;
	font-family: 'Hanalei Fill', cursive;
}

infoScreen {
	position: relative;
	z-index: 2;
	font-size: 0px;
	color: #2e00af;
}
